*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    background: aliceblue;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 1.4rem;
    font-weight: bold;
    background: lightblue;
    color: black;
}

.sidebar {
    width: 250px;
    background: lightblue;
    color: black;
    transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: visible;
    position: relative;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.15);
}

/* Toggle button */
.toggle-btn {
    padding-left: 10px;
    position: absolute;
    top: 20px;
    right: -15px;
    background: black;
    border: 2px solid #f4f6f9;
    color: red;
    width: 45px;
    height: 30px;
    border-radius: 75%;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;

}

.nav-links {
   list-style: none;
   padding: 20px 0; 
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
    color:  black;
    text-decoration: none;
    transition: all 0.2s ease;
    border-radius: 8px;
}

.nav-links a:hover {
    background: darkblue;
    color: white;
    transform: translateX(4px);
}

/* Active Link */
.nav-links a.active{
    background: linear-gradient(90deg, #38bdf8, #6366f1);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.link-text {
    transition: opacity 0.2s ease, transform 0.2s ease;
    margin-left: 10px;
}


/* Auto Collapse on small screens */
@media (max-width: 768px) {

    .sidebar .link-text,
    .sidebar .logo-text {
        display: none;
    }

    .toggle-btn {
        display: none;
    }
}

/* Collapsed state */
.sidebar.collapsed {
    width: 80px;
}

/* Tooltips for collapsed sidebar */
.sidebar.collapsed .nav-links a {
    position: relative;
    justify-content: center;
}

.sidebar.collapsed .link-text {
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;

}

.sidebar.collapsed .nav-links a::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(10px);
    background: #111827;
    color: white;
    padding: 6px 12px;
    white-space: nowrap;
    border-radius: 6px;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.sidebar.collapsed .nav-links a:hover::after {
    opacity: 1;
    transform: translateY(-50%) translateX(15px);
}

/* Hide text when collapsed */
.sidebar.collapsed .link-text,
.sidebar.collapsed .logo-text {
    display: none;
}

.sidebar.collapsed.toggle-btn {
    transform: rotate(180deg);
}



